@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex gap-5 align-items-start justify-content-evenly">
        <h1>Login page</h1>
    </div>
</div>